<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    
    <!-- Main Page -->
    <div class="panel" id="Main">
        <body>
            <h1>PROJECT METRONOME</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur 
                interdum tellus id lacinia. Proin ornare leo tincidunt, vehicula mi id, 
                volutpat ex. Nam quisfelis eu neque feugiat dictum vel eget purus. Sed 
                sapien risus, vestibulum a pulvinar in, pellentesque a velit. Morbi nec 
                nibh in lorem imperdiet aliquet. Nulla eu justo ex. Nulla facilisi. Aenean 
                pretium commodo purus. Nullam non turpis efficitur, consectetur tortor 
                eget, imperdiet ante.
            </p>
            <button type="button">Get Started</button>
            <button type="button">Tutorial</button>
        </body>
    </div>

    <!-- Tutorial -->
    <div class="panel" id="Tutorial">
        <h1>Tutorial</h1>
        <button type="button">Back</button>
    </div>

    <!-- Field Selection -->
    <div class="panel" id="Field">
        <h1>Field Selection</h1>

        <button type="button">Back</button>
        <button type="button">HS</button>
        <button type="button">College</button>
        <!-- Left Half -->
        <div style="float: left; width = 50%">

        </div>

        <!-- Right Half -->
        <div style="float: right; width = 50%">

        </div>
    </div>

    <!-- Focal Point -->
    <div class="panel" id="Focal">
        <h1>Focal Point</h1>
        <button type="button">Back</button>
        <button type="button">Drum Major Podium</button>
        <button type="button">High School Press Box</button>
        <button type="button">College Press Box</button>
    </div>

    <!-- Time Source -->
    <div class="panel" id="Time">
        <h1>Time Source</h1>
        <button type="button">Back</button>
        
        <h2>Whole Step</h2>
        <input id="wholeStep" type="range" min="1" max="4" step="1"/>
        
        <h2>Horizontal Partial Step</h2>
        <input id="horizontalPS" type="range" min="0" max="0.75" step="0.25" />
        <button type="button">Inside</button>
        <button type="button">Outside</button>
       
        <h2>Vertical Partial Step</h2>
        <input id="verticalPS" type="range" min="0" max="0.75" step="0.25" />
        <button type="button">Front</button>
        <button type="button">Back</button>
        
        <h2>Side</h2>
        <button type="button">Side 1</button>
        <button type="button">Side 2</button>
        
        <h2>Marker</h2>
        <button type="button">FSL</button>
        <button type="button">FH</button>
        <button type="button">BH</button>
        <button type="button">BSL</button>
        
        <h2>Yard Line</h2>
        <input id="yardLine" type="range" min="0" max="50" step="5"/>
        
<!--
        <div class="range-slider round" data-slider>
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
        </div>
-->
    </div>

    <!-- Results -->
    <div class="panel" id="Results">
        <h1>PROJECT METRONOME</h1>
        <button type="button">Start Over</button>
        <button type="button">Extras</button>
    </div>

    <!-- Extras -->
    <div class="panel" id="Extras">
        <h1>Extras</h1>
        <button type="button">See Results</button>
    </div>
    
</html>
