.button {
    /* Field Selection Copy: */
    background: rgba(37,37,37,0.51);
    border: 5px solid #D43F3A;
    box-shadow: 8px 5px 4px 0px rgba(0,0,0,0.50);
    border-radius: 15px;
    /* Back: */
    font-family: Helvetica;
    font-size: 28px;
    color: #FFFFFF;
    line-height: 34px;
}

.buttonStart {
    display:block;
    width:200px;
    height:200px;
    border-radius: 50%;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-weight:bold;

    /* Oval 1: */
	background: rgba(74,73,74,0.51);
	border: 5px solid #D43F3A;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	/* Get : */
	font-family: Helvetica-Oblique;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 58px;
	white-space: normal;
	text-align:center;
	padding-top: 30px;
}


.buttonOnRed {
    /* Field Selection Copy: */
    background: rgba(37,37,37,0.51);
    border: 5px solid #303030;
    border-radius: 15px;
    /* Back: */
    font-family: Helvetica;
    font-size: 28px;
    color: #FFFFFF;
    line-height: 34px;
}

.panel {
	margin-top: 0px;
	margin-bottom: 0px;
}


.vertical-center {
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#fieldWrap {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#fieldWrap img {
    margin: 0 auto;
    position: absolute;
    width: 98.25%;
    height: 100%;
    top: 0px;
    left: 1%;
    z-index: 0;
    
}

#fieldContainer {
    opacity: 0.8;
    width: 100%;
    height: 44%;
}

#main {
    background: url("backgrounds/Main.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#tutorial {
    background-color: #d43f3a;
}


#field {
    background: url("backgrounds/FieldSelection.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#focal {
    background: url("backgrounds/FocalPoint.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#time {
    background: url("backgrounds/TimeSource.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#results {
    background: url("backgrounds/Result.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


#extras {
    background-color: #d43f3a;
}


h1 {
    font-family: Helvetica-Light;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: 10px;
    line-height: 86px;
}


h2 {
	background: rgba(37,37,37,0.51);
	border: 5px solid #D43F3A;
	border-radius: 50px;


	text-align: center;
	font-family: Helvetica-Oblique;
	font-size: 64px;
	color: #FFFFFF;
	line-height: 77px;
}


h3 {
	font-family: Helvetica;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 58px;
	text-align: center;
}


h4 {
	font-family: Helvetica;
	color: #FFFFFF;
	line-height: 58px;
}


p {
	padding-top: 20px;
    font-family: Helvetica;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;

}


/*Slider Start*/

input[type='range'] {
  align-self: center;
  margin: -0.75em 0;
  border: solid 1.5em transparent;
  height: 2.25em;
  background: repeating-linear-gradient(90deg, #a9afb5, #a9afb5 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 0.4375em border-box, repeating-linear-gradient(90deg, #a9afb5, #a9afb5 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 4.1875em border-box, linear-gradient(90deg, rgba(169, 175, 181, 0), #a9afb5, rgba(169, 175, 181, 0)) no-repeat 50% 50% border-box;
  background-size: 12.0625em 0.625em, 12.0625em 0.625em, 100% 2.25em;
  font-size: 1em;
  cursor: pointer;
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  position: relative;
  width: 13em;
  height: 0.5em;
  border-radius: .1875em;
  background: rgba(74,73,74,0.51);
}


input[type='range']::-ms-fill-lower {
  display: none;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -0.75em;
  border: none;
  width: 4em;
  height: 2em;
  border-radius: .5em;
  box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
  background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, rgba(0, 0, 0, 0) 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, rgba(0, 0, 0, 0) 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
  background-size: 0.825em 100%;
}

/*Slider End*/



/*Radio Start*/

@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #4A494A;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #cbd1d8;
}

.option-input:checked {
  background: #D43F3A;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #D43F3A;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

/*Radio End*/

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

}
